# Mobile App for Lottery Addiction

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

In [32]:
def factorial(n):
    fact = n
    for i in range(n-1, 1, -1):
        fact *= i
    return  fact

def combinations(n, k):
    return factorial(n)/(factorial(k)*factorial(n-k))

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

In [97]:
def one_ticket_probability():
    possible_outcomes = combinations(49, 6)
    probability = (1 / possible_outcomes)*100
    print("the probability is {:.7f}%".format(probability))

We'll focus on exploring the historical data coming from the Canada 6/49 lottery.
The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018.

In [60]:
import pandas as pd
historical_data = pd.read_csv('649.csv')
print(historical_data.shape)
historical_data.head(3)

(3665, 11)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [59]:
historical_data.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [67]:
def extract_numbers(row):
    return {row['NUMBER DRAWN 1'], row['NUMBER DRAWN 2'], row['NUMBER DRAWN 3'], row['NUMBER DRAWN 4'], row['NUMBER DRAWN 5'], row['NUMBER DRAWN 6']}

In [71]:
winning_numbers = historical_data.apply(extract_numbers, axis=1)
winning_numbers.head(3)

0    {3, 41, 43, 12, 11, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
dtype: object

We're going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

In [89]:
def check_historical_occurrence(l, w_numbers):
    user_numbers = set(l)
    n_ocurrences = (user_numbers == w_numbers).sum()
    print('The number of times the combination inputted occurred in the past was {}'.format(n_ocurrences))

In [90]:
check_historical_occurrence([3, 41, 43, 12, 11, 14], winning_numbers)

The number of times the combination inputted occurred in the past was 1

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning â€” on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets

In [92]:
def multi_ticket_probability(n):
    possible_outcomes = combinations(49, 6)
    probability = (n / possible_outcomes)*100
    print("the probability is {:.7f}%".format(probability))

In [96]:
multi_ticket_probability(10000000)

the probability is 71.5112384%